:root {
	--color-1: #e63946;
	--color-2: #f1faee;
	--color-3: #a8dadc;
	--color-4: #457b9d;
	--color-5: #1d3557;
}

body {
	background-color: var(--color-5);
}

h1 {
	width: 100%;
	text-align: center;
	margin: 30px 0px;
	color: var(--color-2);
	font-size: 4em;
}

canvas {
	border: 1px solid black;
	width: 1000px;
	height: 800px;
	background-color: var(--color-1);
	margin-top: 50px;
}

#settingsRow {
	display: flex;
	justify-content: center;
	width: 100%;
}

.settingsContainer {
	width: 200px;
	height: 40px;
	margin: 0px 20px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.settingsContainer > * {
	border-radius: 5%/15%;
	border: 1px solid var(--color-3);
	height: 100%;
	margin: 0px 2px;
}

input {
	width: 50%;
	font-size: x-large;
	text-align: center;
}

button {
	width: 30%;
	background-color: var(--color-3);
}

button:hover {
	border: 2px solid var(--color-4);
}

button:active {
	background-color: var(--color-4);
}

span {
	font-size: x-large;
	color: var(--color-2);
	width: 100%;
	text-align: center;
	display: block;
	margin-bottom: 10px;
}

#canvasContainer {
	display: flex;
	justify-content: center;
}
